:host {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.status {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.online {
  background-color: greenyellow;
}

.offline {
  background-color: red;
}
